@use '@angular/material' as mat;

@mixin color($theme) {
  .mat-toolbar {
    @include mat.elevation(2);

    &.mat-primary[color='primary'] {
      background-color: mat.get-theme-color($theme, primary);
      color: mat.get-theme-color($theme, on-primary);

      .mat-mdc-icon-button {
        color: mat.get-theme-color($theme, on-primary);

        &.mat-mdc-button-disabled {
          color: rgba($color: mat.get-theme-color($theme, on-primary), $alpha: 0.4);
        }
      }
    }

    &.mat-secondary[color='secondary'] {
      background-color: mat.get-theme-color($theme, secondary);
      color: mat.get-theme-color($theme, on-secondary);

      .mat-mdc-icon-button {
        color: mat.get-theme-color($theme, on-secondary);

        &.mat-mdc-button-disabled {
          color: rgba($color: mat.get-theme-color($theme, on-secondary), $alpha: 0.4);
        }
      }
    }

    &.mat-tertiary[color='tertiary'] {
      background-color: mat.get-theme-color($theme, tertiary);
      color: mat.get-theme-color($theme, on-tertiary);

      .mat-mdc-icon-button {
        color: mat.get-theme-color($theme, on-tertiary);

        &.mat-mdc-button-disabled {
          color: rgba($color: mat.get-theme-color($theme, on-tertiary), $alpha: 0.4);
        }
      }
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
