<nas-detail-toolbar [canSave]="form.valid">
  <ng-template #rightActions>
    <button mat-icon-button matBadge="2" matBadgeSize="large" matTooltip="Alertas" aria-label="Alertas"
      (click)="help()">
      <fa-duotone-icon [icon]="faBell" swapOpacity="true" />
    </button>
    <button mat-icon-button matTooltip="Ayuda" aria-label="Ayuda" (click)="help()">
      <fa-icon [icon]="faQuestion" />
    </button>
  </ng-template>
</nas-detail-toolbar>
<div class="main-container">
  <form [formGroup]="form" novalidate>
    <nas-form [model]="model" [fields]="fields" [options]="options" [form]="form" />
  </form>
</div>